<div class="card border-gray-500 border-2 w-[720px] h-[400px] p-10">
    <div class="flex items-center gap-10">
        <div class="profile-image rounded-full w-50 h-50 bg-gray-100"></div>
        <div class="flex flex-col gap-3">
            <div>이름</div>
            <div>나이</div>
            <div>성별</div>
        </div>
    </div>
    <div class="mt-10">소개글</div>
</div>

<div class="card border-gray-500 border-2 w-[720px] h-[280px] p-10">
    <ul>
        <li>
            <a href="/" class="text-blue-400">git 개념 정리 블로그</a> - 정리도
            깔끔하고
        </li>
    </ul>
</div>